
/* Estilos personalizados */
:root {
  --text: black; /* Definir la variable globalmente */
}

/* Cuerpo */
body {
  font-family: 'REM', sans-serif;
  font-size: 1rem; /* Tamaño de fuente base en REM */
  line-height: 1.6; /* Espaciado entre líneas */
}

/* Encabezados */
h1, h2, h3 {
  font-family: 'Archivo Black', sans-serif; /* Fuente específica para encabezados */
  font-weight: bold; /* Peso de la fuente */
}

/* Código y elementos similares */
code, pre {
  font-family: monospace; /* Fuente genérica para código */
  /* Otros estilos para resaltar el código, como fondo gris claro o bordes */
}

/* Listado */
article ul {
  list-style-type: disc;
  color: var(--text);
  padding-left: 20px;
}

article ol {
  padding-left: 20px;
}

article li {
  margin-bottom: 5px;
}

/* Link */
a.button {
  text-decoration: none;
  transition: all 0.3s ease; /* Transición suave */
}

/* Cambios en el hover */
a.button:hover {
  text-decoration: underline;
}

/* Listas Post */
ul.posts-list {
  list-style-type: none;
  padding: 0;
}

ul.posts-list li {
  margin-bottom: 20px;
}

.logo {
  width: 98%; /* Ancho del 98% en dispositivos móviles */
  max-width: 400px; /* Máximo ancho de 400px */
  height: auto; /* Altura automática para mantener la proporción */
  fill: transparent;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s linear forwards, fill 2s ease-out 2s forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: var(--text); /* Utilizar la variable para el color de fondo */
  }
}

.highlight {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombreado ligero */
  background-color: var(--text); /* Utilizar la variable para el color de fondo */
  padding: 15px;
  color: var(--background); /* Utilizar la variable para el color de fondo */
}