---
permalink: /404.html
layout: default
---


  <h1 class="text-4xl font-bold">404</h1>

  <p class="mt-4"><strong>La página no existe :(</strong></p>
  <p class="mt-2">No sé qué estás buscando pero no existe.</p>
  