---
layout: default
---
<div class="flex flex-col items-center justify-center h-screen">
  <div class="mt-10 mb-10">
      <svg class="logo sm:w-98" width="400" height="400" viewBox="0 0 180 180" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.23,7.23V172.77H172.77V7.23ZM20.03,20.03H159.97V159.97H20.03Zm11.98,15.5v37.4h19.86l0.01-14.57 28.13-0.002-0.004,14.57V125.33H51.89V105.71H70.22l-0.07-0.004 0.08-19.13-0.004-0.004H31.44l-0.008,57.88c0,0,10.77,0.006 14.28,0.006h34.44 0.71 18.27 0.71 34.44 13.7c0.002,0 0.57,-0.006 0.57,-0.006l0.002-57.88c0,-0.002 -0.006,-0.004 -0.006,-0.004h-38.77l-0.006,0.004 0.08,19.13-0.07,0.004h18.33v19.62H99.97V72.94l0.002-14.58 28.14-0.004-0.02,14.39 19.87,0.19 0.03,-37.4z" id="path1"/>
      </svg>
  </div>
  <div class="flex space-x-4 mb-10">
      <a href="https://instagram.com" target="_self" class="text-black">
          <i class="icono fab fa-instagram h-6 w-6 sm:h-11 sm:w-11"></i>
      </a>
      <a href="https://gitlab.com/tgg-dev" target="_self" class="text-black">
          <i class="icono fab fa-gitlab h-6 w-6 sm:h-11 sm:w-11"></i>
      </a>
      <a href="{{ "/noticias.html" | relative_url }}" target="_self" class="text-black">
        <i class="icono fas fa-pencil-alt h-6 w-6 sm:h-11 sm:w-11"></i>
     </a>
     <a href="{{ "/" | relative_url }}" target="_self" class="text-black">
        <i class="icono fas fa-home h-6 w-6 sm:h-11 sm:w-11"></i>
    </a>
  </div>
</div>
