---
layout: default
---

<div class="container mx-auto md:w-2/5 w-95 py-8">

<div class="flex flex-col items-center justify-center my-8">
  <div class="flex space-x-4">
      <a href="https://instagram.com" target="_self" class="text-black">
        <i class="icono fab fa-instagram h-6 w-6 sm:h-11 sm:w-11"></i>
      </a>
      <a href="https://gitlab.com/tgg-dev" target="_self" class="text-black">
          <i class="icono fab fa-gitlab h-6 w-6 sm:h-11 sm:w-11"></i>
      </a>
      <a href="{{ "/noticias.html" | relative_url }}" target="_self" class="text-black">
        <i class="icono fas fa-pencil-alt h-6 w-6 sm:h-11 sm:w-11"></i>
    </a>
    <a href="{{ "/" | relative_url }}" target="_self" class="text-black">
        <i class="icono fas fa-home h-6 w-6 sm:h-11 sm:w-11"></i>
    </a>
  </div>
</div>

 <div class="pb-1 px-6 shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold mb-4">Últimas Entradas</h1>
  <ul class="posts-list">
    {% for post in site.posts %}
      <li>
        <img src="{{ post.featured_image }}" alt="{{ post.title }}">
        <h2 class="text-xl font-bold my-2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <br>
        <a href="{{ post.url }}" class="button">Leer más</a>
      </li>
    {% endfor %}
  </ul>
 </div>

</div>