<!DOCTYPE html>
<html>

 {% include head.html %}

<body>
  {% include header.html %}
   {% if page.title == "noticias" %}
    {% include noticias.html %}
  {% else %}


  <div class="page-content">
      {{ content }}
        {% endif %}
  </div>

  {% include footer.html %}

</body>

</html>
