---
layout: default
---
<div class="container mx-auto md:w-2/5 w-95 py-8">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
</div>