---
layout: default
---
<div class="container mx-auto md:w-2/5 w-95 py-8">

  <div class="flex flex-col items-center justify-center my-8">
    <div class="flex space-x-4">
        <a href="https://instagram.com" target="_self" class="text-black">
          <i class="icono fab fa-instagram h-6 w-6 sm:h-11 sm:w-11"></i>
        </a>
        <a href="https://gitlab.com/tgg-dev" target="_self" class="text-black">
            <i class="icono fab fa-gitlab h-6 w-6 sm:h-11 sm:w-11"></i>
        </a>
        <a href="{{ "/noticias.html" | relative_url }}" target="_self" class="text-black">
          <i class="icono fas fa-pencil-alt h-6 w-6 sm:h-11 sm:w-11"></i>
      </a>
      <a href="{{ "/" | relative_url }}" target="_self" class="text-black">
          <i class="icono fas fa-home h-6 w-6 sm:h-11 sm:w-11"></i>
      </a>
    </div>
  </div>
  
<article class="pb-1 shadow-lg rounded-lg">

  <header class="px-6 py-4">
    <h1 class="text-3xl font-bold text-gray-800">{{ page.title }}</h1>
    <br>
    <img src="{{ page.featured_image }}" alt="{{ page.title }}">
    <p class="text-sm text-gray-600">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %} • <span class="font-semibold">{{ page.author }}</span>{% endif %}
    </p>
  </header>

  <div class="px-6 py-4">
    <div class="text-gray-700 text-lg">
      {{ content }}
    </div>
  </div>

</article>

</div>